*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.s1{
    display: flex;
    flex-direction: column;
    height: 20vw;
    width: 100%;
}
.s2{
    font-family: 'Kaushan Script', cursive;
    display: flex;
    gap: 1vw;
    height: 20vw;
    width: 40vw;
}
.s3{
    font-size: 7vw;
    font-family: 'Kaushan Script', cursive;
    width: 11vw;
    margin-left: 3vw;
    color: #414188;
}
.s4{
    font-size: 1.8vw;
    position: relative;
    top: 13vh;
    font-family: 'Kaushan Script', cursive;
    width: 20vw;
}
.s5{
    display: flex;
    position: relative;
    left: 50vw;
    gap: 4vw;
    margin-top: -12.5rem;
    margin-left: 8vw;
    color: #02B6DE;
    font-family: sans-serif;
}
.s6{
    background-color: #1285C6;
    width: 90vw;
    height: 3.5vw;
    margin-top: 11vw;
    margin-left: -7.5rem;
    margin-bottom: -8.5rem;
    transform: rotate(30deg);
}
.s7{
    background-color: #49A4D7;
    width: 90vw;
    height: 3.5vw;
    margin-top: 11vw;
    margin-left: -7.5rem;
    margin-bottom: -8.5rem;
    transform: rotate(30deg);
}
.s8{
    background-color: #63d2eb;
    width: 90vw;
    height: 3.5vw;
    margin-top: 11vw;
    margin-left: -7.5rem;
    margin-bottom: 27.5vw;
    transform: rotate(30deg);   
}
.yellowbox{
    position: absolute;
width: 72vw;
height: 64vh;
left: 15vw;
top: 25vh;
max-width: 1300px;

background: #F0D800;
border-radius: 10px;
display: flex;
flex-direction: column;
gap:10px;
overflow-y: auto;
padding: 10px;
}
.t2{
    width:100%;
    min-height: 100px;
    text-align: center;
    background: #ffff;
    border-radius: 10px;

}

